@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Poppins:wght@600&display=swap');

* {
    color: white;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    background-color: #262424;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #5c2a9d;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #b5076b;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: whitec;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
    text-decoration: underline;
    transition: 200ms;
}

nav img {
    border-radius: 60px;
}